body {
    font-family: Arial, sans-serif;
    background-color: #ffff;
    /* margin: 0;
    padding: 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color:#d3f7d3;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

h1, h2 {
    color: #333;
}

p {
    color: #666;
}

form {
    margin-top: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #71d550;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
}

.btn_reg {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #3d25c3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;

}

button:hover {
    background-color: #0d6613;
}

ul.flashes {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.flashes li {
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
}

.flashes .danger {
    background-color: #f8d7da;
    color: #721c24;
}

.flashes .success {
    background-color: #d4edda;
    color: #155724;
}