<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='formulario.css')}}">
</head>
<body>
    <img src="{{ url_for('static', filename='img/logo_avia.png') }}" class="logo" width="200" height="100">
    <div class="container">
        <h1>Reconquista escucha a sus adultos mayores</h1>
        <br>
        <p>Esta encuesta nos permitirá conocer un poco más la situación de los adultos mayores en la ciudad de Reconquista, Santa Fe; de manera que podamos construir herramientas para predecir algunos aspectos críticos y evitarlos o retrasar su aparición.</p>
        <br><br>
        <form method="POST">

            <h2>Datos Sociodemográficos</h2>
            <br>

            <label for="fecha_nac">1 - Fecha de nacimiento:</label>
            <input type="date" id="fecha_nac" name="fecha_nacimiento" required>
            <br><br>

            <label>2 - ¿Cuál es su estado civil?</label><br>
            <input type="radio" id="casado" name="estado_civil" value="casado" required>
            <label for="casado">Casado</label><br>
            <input type="radio" id="conviviente" name="estado_civil" value="conviviente">
            <label for="conviviente">Conviviente</label><br>
            <input type="radio" id="dss" name="estado_civil" value="dss">
            <label for="dss">Divorciado/Separado/Soltero</label><br>
            <input type="radio" id="viudo" name="estado_civil" value="viudo">
            <label for="viudo">Viudo</label>
            <br><br>

            <label>3 - Sexo de nacimiento:</label><br>
            <input type="radio" id="varon" name="sexo" value="varon" required>
            <label for="varon">Varón</label><br>
            <input type="radio" id="mujer" name="sexo" value="mujer">
            <label for="mujer">Mujer</label><br>
            <br><br>

            <label>4 - ¿Cuál es el grado de escolaridad máxima alcanzada?</label><br>
            <input type="radio" id="Titulo universitario" name="escolaridad" value="1" required>
            <label for="Titulo universitario">Título universitario</label><br>
            <input type="radio" id="Tecnico" name="escolaridad" value="2">
            <label for="Tecnico">Técinco</label><br>
            <input type="radio" id="Bachillerato/Preparatoria" name="escolaridad" value="3">
            <label for="Bachillerato/Preparatoria">Bachillerato/Preparatoria</label><br>
            <input type="radio" id="Secundaria completa" name="escolaridad" value="4">
            <label for="Secundaria completa">Secundaria completa</label><br>
	        <input type="radio" id="Primaria completa" name="escolaridad" value="5">
            <label for="Primaria completa">Primaria completa</label><br>
	        <input type="radio" id="Otro" name="escolaridad" value="6">
            <label for="Otro">Otro</label><br>
            <input type="radio" id="Sin estudios" name="escolaridad" value="7">
            <label for="Sin estudios">Sin estudios</label>
            <br><br>

            <label>5 - ¿Cómo definiría su ocupación a lo largo de su vida?</label><br>
            <input type="radio" id="var1" name="ocupacion" value="var1" required>
            <label for="var1">Profesional/Empresario/Cargo Gerencial</label><br>
            <input type="radio" id="var2" name="ocupacion" value="var2">
            <label for="var2">Ocupaciones Generales/Empleado/Cuentapropista/Ama de casa</label><br>
            <input type="radio" id="var3" name="ocupacion" value="var3">
            <label for="var3">Nunca trabajó</label>
            <br><br>

            <label>6- Según sus ingresos diría que es...</label><br>
            <input type="radio" id="var1" name="clase_ingresos" value="var1" required>
            <label for="var1">Clase Baja (No consigo alimentarme sin ayuda de otros)</label><br>
            <input type="radio" id="var2" name="clase_ingresos" value="var2">
            <label for="var2">Clase Media Baja (Tengo garantizado lo mínimo que necesito)</label><br>
            <input type="radio" id="var3" name="clase_ingresos" value="var3">
            <label for="var3">Clase Media (Tengo lo que necesito para vivir bien aunque nada me sobra)</label><br>
            <input type="radio" id="var4" name="clase_ingresos" value="var4">
            <label for="var4">Clase Media Alta (Me alcanza para vivir bien y puedo ahorrar)</label><br>
            <input type="radio" id="var5" name="clase_ingresos" value="var5">
            <label for="var5">Clase Alta (No tengo ningún tipo de problemas económicos)</label>
            <br><br><br>

            <h2>Autonomía actual</h2><br>
            <p>Estas preguntas están destinadas a identificar a partir de una serie de preguntas su grado de autonomía actual</p>
            <br><br>

            <label>7-  ¿Qué parte del tiempo durante las últimas 4 semanas se sintió cansado/a?</label><br>
            <input type="radio" id="var1" name="fatigabilidad" value="var1" required>
            <label for="var1">Todo el tiempo</label><br>
            <input type="radio" id="var2" name="fatigabilidad" value="var2">
            <label for="var2">La mayoría de las veces</label><br>
            <input type="radio" id="var3" name="fatigabilidad" value="var3">
            <label for="var3">Parte del tiempo</label><br>
            <input type="radio" id="var4" name="fatigabilidad" value="var4">
            <label for="var4">Un poco del tiempo</label><br>
            <input type="radio" id="var5" name="fatigabilidad" value="var5">
            <label for="var5">En ningún momento</label>
            <br><br>

            <label>8- ¿Tiene alguna dificultad para subir 10 escalones sin descansar y sin ningún tipo de ayuda?</label><br>
            <input type="radio" id="var1" name="resistencia" value="var1" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="resistencia" value="var2">
            <label for="var2">No</label>
            <br><br>

            <label>9- ¿Tiene alguna dificultad para caminar 2 cuadras sin ayuda?</label><br>
            <input type="radio" id="var1" name="deambulacion" value="var1" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="deambulacion" value="var2">
            <label for="var2">No</label>
            <br><br>

            <label>10- ¿Alguna vez un/a médico/a le dijo que usted tiene  alguna de las siguientes enfermedades?</label>
            <label>MARQUE TODAS LAS QUE CONSIDERE</label><br>
            <input type="checkbox" id="hipertension" name="comorbilidad" value="hipertension">
            <label for="hipertension">Hipertensión</label><br>
            <input type="checkbox" id="diabetes" name="comorbilidad" value="diabetes">
            <label for="diabetes">Diabetes</label><br>
            <input type="checkbox" id="cancer" name="comorbilidad" value="cancer">
            <label for="cancer">Cáncer (que no sea un cáncer de piel de menor importancia)</label><br>
            <input type="checkbox" id="epc" name="comorbilidad" value="epc">
            <label for="epc">Enfermedad Pulmonar Crónica</label><br>
            <input type="checkbox" id="ataque" name="comorbilidad" value="ataque">
            <label for="ataque">Ataque cardíaco</label><br>
            <input type="checkbox" id="insuficiencia" name="comorbilidad" value="insuficiencia">
            <label for="insuficiencia">Insuficiencia Cardíaca Congestiva</label><br>
            <input type="checkbox" id="angina" name="comorbilidad" value="angina">
            <label for="angina">Angina de Pecho</label><br>
            <input type="checkbox" id="asma" name="comorbilidad" value="asma">
            <label for="asma">Asma</label><br>
            <input type="checkbox" id="artritis" name="comorbilidad" value="artritis">
            <label for="artritis">Artritis</label><br>
            <input type="checkbox" id="acv" name="comorbilidad" value="acv">
            <label for="acv">ACV</label><br>
            <input type="checkbox" id="renal" name="comorbilidad" value="renal">
            <label for="renal">Enfermedad renal</label>
            <br><br>

            <label>11 - ¿Ha tenido pérdida de peso de forma involuntaria en el último año?</label><br>
            <input type="radio" id="var1" name="perdida_peso" value="var1" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="perdida_peso" value="var2">
            <label for="var2">No</label>
            <br><br>

            <h2>Hábitos y Autopercepción de Salud</h2>
            <br>

            <label>12- ¿Tiene diagnóstico de Hipertensión arterial?'</label><br>
            <input type="radio" id="var1" name="hipertension" value="var1" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="hipertension" value="var2">
            <label for="var2">No</label>
            <br><br>

            <label>13- ¿Tiene angina de pecho? (esto se refiere a dolor de pecho como causa de alteraciones en sus arterias coronarias)</label><br>
            <input type="radio" id="var1" name="angina" value="var1" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="angina" value="var2">
            <label for="var2">No</label>
            <br><br>

            <label>14- ¿Tiene insuficiencia cardiaca?</label><br>
            <input type="radio" id="var1" name="insuficiencia_card" value="var1" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="insuficiencia_card" value="var2">
            <label for="var2">No</label>
            <br><br>

            <label>15- ¿Ha tenido alguna vez un infarto?</label><br>
            <input type="radio" id="var1" name="infarto" value="var1" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="infarto" value="var2">
            <label for="var2">No</label>
            <br><br>

            <label>16- ¿Ha tenido alguna vez un ACV?</label><br>
            <input type="radio" id="var1" name="acv" value="var1" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="acv" value="var2">
            <label for="var2">No</label>
            <br><br>

            <label>17- ¿Tiene Diabetes?</label><br>
            <input type="radio" id="var1" name="diabetes" value="var1" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="diabetes" value="var2">
            <label for="var2">No</label>
            <br><br>

            <label>18- ¿Tiene EPOC?</label><br>
            <input type="radio" id="var1" name="epoc" value="var1" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="epoc" value="var2">
            <label for="var2">No</label>
            <br><br>

            <label>19- ¿Tiene Artrosis?</label><br>
            <input type="radio" id="var1" name="artrosis" value="var1" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="artrosis" value="var2">
            <label for="var2">No</label>
            <br><br>

            <label>20- ¿Tiene Osteoporosis?</label><br>
            <input type="radio" id="var1" name="osteoporosis" value="var1" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="osteoporosis" value="var2">
            <label for="var2">No</label>
            <br><br>

            <label>21- ¿Tiene Incontinencia urinaria?</label><br>
            <input type="radio" id="var1" name="continencia" value="var1" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="continencia" value="var2">
            <label for="var2">No</label>
            <br><br>

            <label>22- ¿Padece desórdenes mentales?</label><br>
            <input type="radio" id="var1" name="d_mentales" value="var1" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="d_mentales" value="var2">
            <label for="var2">No</label>
            <br><br>

            <label>23- ¿Fuma?</label><br>
            <input type="radio" id="var1" name="fuma" value="var1" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="fuma" value="var2">
            <label for="var2">No</label>
            <br><br>

            <label>24- ¿Consume alcohol?</label><br>
            <input type="radio" id="var1" name="alcohol" value="1" required>
            <label for="var1">Casi todos los días</label><br>
            <input type="radio" id="var2" name="alcohol" value="2">
            <label for="var2">Cinco o seis días a la semana</label><br>
            <input type="radio" id="var3" name="alcohol" value="3">
            <label for="var3">Tres o cuatro dias a la semana</label><br>
            <input type="radio" id="var4" name="alcohol" value="4">
            <label for="var4">Una o dos veces a la semana</label><br>
            <input type="radio" id="var5" name="alcohol" value="5">
            <label for="var5">Una o dos veces al mes</label><br>
            <input type="radio" id="var6" name="alcohol" value="6">
            <label for="var6">Una vez cada dos meses</label><br>
            <input type="radio" id="var7" name="alcohol" value="7">
            <label for="var7">Una o dos veces al año</label><br>
            <input type="radio" id="var8" name="alcohol" value="8">
            <label for="var8">Ninguna en los ultimos 12 meses</label>
            <br><br>

            <label for="peso">25-¿Cuál es su peso aproximado en kilogramos?</label>
            <input type="number" id="peso" name="peso" step="0.01" required>
            <br><br>

            <label for="altura">26-¿Cuál es su altura aproximada en metros?</label>
            <input type="number" id="altura" name="altura" step="0.01" required>
            <br><br>
          
            <label for="obesidad_abdominal">27-Medida de la cintura en centímetros</label>
            <input type="number" id="obesidad_abdominal" name="obesidad_abdominal" step="0.01" required>
            <br><br>

            <label>28- Usted piensa que su audición es</label><br>
            <input type="radio" id="var1" name="audicion" value="var1" required>
            <label for="var1">Buena</label><br>
            <input type="radio" id="var2" name="audicion" value="var2">
            <label for="var2">Regular</label><br>
            <input type="radio" id="var3" name="audicion" value="var3">
            <label for="var3">Mala</label>
            <br><br>

            <label>29- Usted piensa que su Visión es...</label><br>
            <input type="radio" id="var1" name="vision" value="var1" required>
            <label for="var1">Buena</label><br>
            <input type="radio" id="var2" name="vision" value="var2">
            <label for="var2">Regular</label><br>
            <input type="radio" id="var3" name="vision" value="var3">
            <label for="var3">Mala</label>
            <br><br>
          
            <label>30- ¿Se ha caído en el último año?</label><br>
            <input type="radio" id="var1" name="caidas" value="1" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="caidas" value="2">
            <label for="var2">No</label>
            <br><br>

            <label>31- Si usted tuviera que describir su estado de salud, diría que es...</label><br>
            <input type="radio" id="var1" name="estado_salud" value="1" required>
            <label for="var1">Excelente</label><br>
            <input type="radio" id="var2" name="estado_salud" value="2">
            <label for="var2">Muy bueno</label><br>
            <input type="radio" id="var3" name="estado_salud" value="3">
            <label for="var3">Bueno</label><br>
            <input type="radio" id="var4" name="estado_salud" value="4">
            <label for="var4">Regular</label><br>
            <input type="radio" id="var5" name="estado_salud" value="5">
            <label for="var5">Malo</label>
            <br><br>

            <label>32- ¿Tiene algún dolor que lo acompañe crónicamente? si es así ¿que intensidad le pondría?</label><br>
            <input type="radio" id="var1" name="dolor" value="2" required>
            <label for="var1">Sin dolor</label><br>
            <input type="radio" id="var2" name="dolor" value="1">
            <label for="var2">Bajo</label><br>
            <input type="radio" id="var3" name="dolor" value="1">
            <label for="var3">Moderado</label><br>
            <input type="radio" id="var4" name="dolor" value="1">
            <label for="var4">Severo</label>
            <br><br>

            <label>33- Usted tiene o ha tenido Problemas de equilibrio...</label><br>
            <input type="radio" id="var1" name="equilibrio" value="var1" required>
            <label for="var1">Nunca</label><br>
            <input type="radio" id="var2" name="equilibrio" value="var2">
            <label for="var2">A veces</label><br>
            <input type="radio" id="var3" name="equilibrio" value="var3">
            <label for="var3">Frecuentemente</label>
            <br><br>

            <label for="test_silla">34- Test de la Silla (veces en levantarse y sentarse sin ayuda de las manos en un minuto) Si no puede hacerse contestar 0</label>
            <input type="number" id="test_silla" name="test_silla" required>
            <br><br>

            <label for="tiempo_caminar_promedio">35-Test de la caminata. Con la ayuda de un familiar o cuidador, tome el tiempo en segundos que le lleva caminar 2.4 metros aproximadamente</label>
            <input type="number" id="tiempo_caminar_promedio" name="tiempo_caminar_promedio" step="0.01" required>
            <br><br>

            <label>36- Autopercepción de Memoria. ¿Usted diría que su memoria es...?</label><br>
            <input type="radio" id="var1" name="memoria" value="1" required>
            <label for="var1">Excelente</label><br>
            <input type="radio" id="var2" name="memoria" value="2">
            <label for="var2">Muy bueno</label><br>
            <input type="radio" id="var3" name="memoria" value="3">
            <label for="var3">Bueno</label><br>
            <input type="radio" id="var4" name="memoria" value="4">
            <label for="var4">Regular</label><br>
            <input type="radio" id="var5" name="memoria" value="5">
            <label for="var5">Malo</label>
            <br><br>

            <label>37- ¿Cómo piensa que es su sueño por las noches?</label><br>
            <input type="radio" id="var1" name="suenio" value="1" required>
            <label for="var1">Muy bueno</label><br>
            <input type="radio" id="var2" name="suenio" value="2">
            <label for="var2">Bueno</label><br>
            <input type="radio" id="var3" name="suenio" value="3">
            <label for="var3">Malo</label><br>
            <input type="radio" id="var4" name="suenio" value="4">
            <label for="var4">Muy malo</label>
            <br><br>

            <label>38- ¿Se siente solo?</label><br>
            <input type="radio" id="var1" name="soledad" value="1" required>
            <label for="var1">Nunca o casi nunca</label><br>
            <input type="radio" id="var2" name="soledad" value="2">
            <label for="var2">A veces</label><br>
            <input type="radio" id="var3" name="soledad" value="3">
            <label for="var3">Muy frecuente o siempre</label>
            <br><br>

            <label>39-¿Siente que su sueño en la última semana fue muy inquieto o insatisfactorio?</label><br>
            <input type="radio" id="var1" name="fatigabilidad_1" value="1" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="fatigabilidad_1" value="2">
            <label for="var2">No</label>
            <br><br>

            <label>40-¿Le ha costado empezar su día durante la semana pasada?</label><br>
            <input type="radio" id="var1" name="fatigabilidad_2" value="1" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="fatigabilidad_2" value="2">
            <label for="var2">No</label>
            <br><br>

            <label>41- ¿Usa internet - email?</label><br>
            <input type="radio" id="var1" name="usa_internet_email" value="1" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="usa_internet_email" value="0">
            <label for="var2">No</label>
            <br><br>

            <label>42- ¿Posee teléfono móvil?</label><br>
            <input type="radio" id="var1" name="tiene_celular" value="1" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="tiene_celular" value="0">
            <label for="var2">No</label>
            <br><br>

            <label>43- Usted diría que su Soporte social es...</label><br>
            <input type="radio" id="var1" name="soporte_social" value="var1" required>
            <label for="var1">Alto</label><br>
            <input type="radio" id="var2" name="soporte_social" value="var2">
            <label for="var2">Bajo</label>
            <br><br>

            <h2>A continuación, le vamos a aplicar una prueba rápida para detectar problemas de memoria.</h2><br>
            <p>La prueba se llama Mini-Cog© y es una herramienta muy útil y fácil de aplicar para valorar la función cognitiva y la posible aparición de demencia. Requiere ser realizado por otra persona.</p><br>
            <p>Le presentamos un video de demostración de cómo realizar esta prueba</p>
            <br>
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/MiwwVcKyzM4" 
                        title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen></iframe>
            </div>
            <br><br>

            <label>44- Enunciado de 3 palabras no relacionadas (se le enunciarán tres palabras no relacionadas entre si al participante y se le pedirá que las repita y las recuerde) Por ejemplo: árbol, rojo, perro.</label><br>
            <input type="radio" id="var1" name="repetir_3_palabras" value="no" required>
            <label for="var1">No repite las palabras o tiene dificultad</label><br>
            <input type="radio" id="var2" name="repetir_3_palabras" value="si">
            <label for="var2">Repite las palabras correctamente</label>
            <br><br>

            <label>45- Test del reloj (Se le pedirá al participante que dibuje la esfera de un reloj analógico y que coloque correctamente las manecillas de acuerdo a la hora correspondiente, por ejemplo las 11:10)</label><br>
            <input type="radio" id="var1" name="test_reloj" value="normal" required>
            <label for="var1">Reloj normal</label><br>
            <input type="radio" id="var2" name="test_reloj" value="anormal">
            <label for="var2">Reloj anormal</label>
            <br><br>

            <label>46- Repetición de las palabras (Se le pedirá a la persona que repita las palabras que se le proporcionaron al inicio del ejercicio, se puntuará de acuerdo a cuantas pueda repetir)</label><br>
            <input type="radio" id="var1" name="actividad_fisica_1" value="0" required>
            <label for="var1">0 palabras</label><br>
            <input type="radio" id="var2" name="actividad_fisica_1" value="1">
            <label for="var2">1 palabra</label><br>
            <input type="radio" id="var3" name="actividad_fisica_1" value="2">
            <label for="var3">2 palabras</label><br>
            <input type="radio" id="var4" name="actividad_fisica_1" value="3">
            <label for="var4">3 palabras</label>
            <br><br>

            <h2>Estado de ánimo</h2>
            <br>

            <label>47- Ahora vamos a hacerte unas preguntas sobre tu estado de ánimo. De los siguientes enunciados, ¿Cuáles describen mejor su ánimo en las últimas 2 semanas? (marque todas las que considere)</label><br>
            <input type="checkbox" id="var1" name="estado_animo" value="var1">
            <label for="var1">Tengo poco apetito</label><br>
            <input type="checkbox" id="var2" name="estado_animo" value="var2">
            <label for="var2">No puedo quitarme la tristeza</label><br>
            <input type="checkbox" id="var3" name="estado_animo" value="var3">
            <label for="var3">Tengo dificultades para concentrarme en lo que hago</label><br>
            <input type="checkbox" id="var4" name="estado_animo" value="var4">
            <label for="var4">Me sentí deprimido</label><br>
            <input type="checkbox" id="var5" name="estado_animo" value="var5">
            <label for="var5">Duemo y no descanso</label><br>
            <input type="checkbox" id="var6" name="estado_animo" value="var6">
            <label for="var6">Me siento triste</label><br>
            <input type="checkbox" id="var7" name="estado_animo" value="var7">
            <label for="var7">No puedo seguir adelante</label><br>
            <input type="checkbox" id="var8" name="estado_animo" value="var8">
            <label for="var8">Nada me hace feliz</label><br>
            <input type="checkbox" id="var9" name="estado_animo" value="var9">
            <label for="var9">Siento que soy una mala persona</label><br>
            <input type="checkbox" id="var10" name="estado_animo" value="var10">
            <label for="var10">He perdido el interés en mis actividades ordinarias</label><br>
            <input type="checkbox" id="var11" name="estado_animo" value="var11">
            <label for="var11">Duermo mucho más que lo habitual</label><br>
            <input type="checkbox" id="var12" name="estado_animo" value="var12">
            <label for="var12">Siento que me muevo muy lento</label><br>
            <input type="checkbox" id="var13" name="estado_animo" value="var13">
            <label for="var13">Me sinto agitado (intranquilo)</label><br>
            <input type="checkbox" id="var14" name="estado_animo" value="var14">
            <label for="var14">Siento deseos de estar muerto</label><br>
            <input type="checkbox" id="var15" name="estado_animo" value="var15">
            <label for="var15">Quiero hacerme daño</label><br>
            <input type="checkbox" id="var16" name="estado_animo" value="var16">
            <label for="var16">Me siento cansado todo el tiempo</label><br>
            <input type="checkbox" id="var17" name="estado_animo" value="var17">
            <label for="var17">Estoy a disgusto conmigo mismo</label><br>
            <input type="checkbox" id="var18" name="estado_animo" value="var18">
            <label for="var18">He perdido peso sin buscarlo</label><br>
            <input type="checkbox" id="var19" name="estado_animo" value="var19">
            <label for="var19">Me cuesta mucho trabajo dormir</label><br>
            <input type="checkbox" id="var20" name="estado_animo" value="var20">
            <label for="var20">Es difícil concentrarme en las cosas importantes</label>
            <br><br>

            <h2>Actividad física</h2><br>
            <p>Las siguientes preguntas se refieren a la cantidad de actividad física que realiza usted a a la semana</p>
            <br><br>

            <label>48-Frecuencia con la que realiza actividades vigorosas (jugar deportes como fútbol o tenis, nadar rápido o correr)</label><br>
            <input type="radio" id="var1" name="actividad_fisica_1" value="1" required>
            <label for="var1">Más de una vez a la semana</label><br>
            <input type="radio" id="var2" name="actividad_fisica_1" value="2">
            <label for="var2">Una vez a la semana</label><br>
            <input type="radio" id="var3" name="actividad_fisica_1" value="3">
            <label for="var3">Una a tres veces al mes</label><br>
            <input type="radio" id="var4" name="actividad_fisica_1" value="4">
            <label for="var4">Casi nunca o nunca</label>
            <br><br>

            <label>49-Frecuencia con la que realiza actividades moderadas (caminar rápido, andar en bicicleta a un ritmo tranquilo, bailar o hacer tareas domésticas como barrer o cortar el pasto)</label><br>
            <input type="radio" id="var1" name="actividad_fisica_2" value="1" required>
            <label for="var1">Más de una vez a la semana</label><br>
            <input type="radio" id="var2" name="actividad_fisica_2" value="2">
            <label for="var2">Una vez a la semana</label><br>
            <input type="radio" id="var3" name="actividad_fisica_2" value="3">
            <label for="var3">Una a tres veces al mes</label><br>
            <input type="radio" id="var4" name="actividad_fisica_2" value="4">
            <label for="var4">Casi nunca o nunca</label>
            <br><br>

            <label>50-Frecuencia con la que realiza actividades leves (caminar despacio, estirarse, hacer tareas domésticas ligeras, o estar de pie)</label><br>
            <input type="radio" id="var1" name="actividad_fisica_3" value="1" required>
            <label for="var1">Más de una vez a la semana</label><br>
            <input type="radio" id="var2" name="actividad_fisica_3" value="2">
            <label for="var2">Una vez a la semana</label><br>
            <input type="radio" id="var3" name="actividad_fisica_3" value="3">
            <label for="var3">Una a tres veces al mes</label><br>
            <input type="radio" id="var4" name="actividad_fisica_3" value="4">
            <label for="var4">Casi nunca o nunca</label>
            <br><br>


            <button type="submit">Enviar</button>
        </form>
        <a href="{{ url_for('logout') }}" class="btn">Cerrar Sesión</a>

        <h3>Paciente con riesgo de fragilidad:</h3>
        <p>{{prediction}}</p>
 


    </div>
</body>
</html>
