<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='nuevac.css')}}">
</head>
<body>
    <img src="{{ url_for('static', filename='img/logo_avia.png') }}" class="logo" width="200" height="100">
    <div class="container">
    <h2>Nueva contraseña</h2><br>
    <form method="POST">
        <label for="password1">Ingrese nueva contraseña</label>
        <input type="password" id="password1" name="password1" required>
        <br>
        <label for="password2">Repita contraseña</label>
        <input type="password" id="password2" name="password2" required>
        <br>
        <div>
            <button type="submit">Aceptar</button>
            <a href="{{url_for('login')}}" class="btn_reg">Cancelar</a>
        </div>
        
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}


    </div>
</body>
</html>